.main-image-container {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.main-image {
  width: 100vw; /* Fill entire width */
  max-height: 100vh; /* Prevents excessive cropping */
  object-fit: contain; /* Ensures full image is visible */
}

@media (max-width: 768px) {
  .main-image {
      width: 100vw;
      max-height: 100vh;
      object-fit: contain; /* Ensures full image is visible */
  }
}
