.main-image-container {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: #000; /* Black background */
  color: #fff;
  position: relative;
  width: 1613px;
  height: 780px;
  flex-direction: column;
  padding-bottom: 0px;
}

.main-image {
  position: relative; /* Enables child elements like overlays or controls to be positioned */
  width: 100%; /* Full width of the parent container */
  /* max-width: 1200px;  */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Ensures video stays inside the container */
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

@media (max-width: 768px) {
  .main-image {
      width: 100vw;
      max-height: 100vh;
      object-fit: contain; /* Ensures full image is visible */
  }
}
