---
import Header from "../components/header.astro";
import Layout from "../layouts/main.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
import Section5 from "../components/Section5.astro";
import styles from '../styles/main.module.css';
import Section6 from "../components/section6.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your website description">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/styles/global.css"> <!-- Optional global styles -->
  </head>
  <body>
      <main class={styles["main"]}>
        <Header />
        <Section1 />
        <Section2 />
        <Section3 />
        <Section4 />
        <Section5 />
        <Section6 />
      </main>
  </body>
</html>
