---
const { text } = Astro.props;
import styles from "../styles/section6.module.css";
---

<section class={styles["main-image-container"]}>
  <img
    src="https://res.cloudinary.com/duewivpjt/image/upload/v1738338062/image_8_skaeyv.png"
    alt="Fullscreen Image"
    class="main-image"
    width=" 1613px;"
    height="auto;"
  />
</section>
